{% extends 'base.html' %}

{% block head %}
    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/monu.css' %}">
{% endblock %}
{% block content %}
<div class="container" style="background-color: #f0f0f0;">
  <h1 class="text-center py-3">Window Properties</h1>
  <div class="jumbotron">
    <h1 class="display-4">Selling Apartments</h1>
    <p class="lead">Are you looking to buy a new apartment? Our real estate agency has a wide selection of apartments for sale in the best neighborhoods of the city. From cozy studios to spacious 3-bedroom apartments, we have the perfect home for you.</p>
    <p class="lead">We have a team of experienced real estate agents who will work with you every step of the way to find the apartment that meets your needs and budget. Our agents are experts in the local real estate market and will provide you with all the information you need to make an informed decision.</p>
    <p class="lead">So why wait? Contact us today to schedule a viewing of our available apartments and start your journey to finding your dream home.</p>
  </div>
  <p class="text-center"><strong>Email:</strong> propertywindow3@gmail.com</p>
  <p class="text-center"><strong>Address:</strong> Main Patodi road, Gurgaon</p>
  <p class="text-center"><strong>Phone:</strong> 8527245451</p>
</div>







{% endblock %}
